{<<"links">>,[{<<"GitHub">>,<<"https://github.com/dannote/qqr">>}]}.
{<<"name">>,<<"qqr">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,<<"Pure Elixir QR code decoder">>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/qqr.ex">>,<<"lib/qqr">>,<<"lib/qqr/extractor.ex">>,
  <<"lib/qqr/bit_matrix.ex">>,<<"lib/qqr/locator.ex">>,
  <<"lib/qqr/decoder.ex">>,<<"lib/qqr/gf_poly.ex">>,
  <<"lib/qqr/bit_stream.ex">>,<<"lib/qqr/reed_solomon.ex">>,
  <<"lib/qqr/version.ex">>,<<"lib/qqr/data_decoder.ex">>,
  <<"lib/qqr/binarizer.ex">>,<<"lib/qqr/galois_field.ex">>,<<"mix.exs">>,
  <<"README.md">>,<<"LICENSE">>,<<".formatter.exs">>]}.
{<<"app">>,<<"qqr">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,[]}.
{<<"build_tools">>,[<<"mix">>]}.
